@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
    outline: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
:root {
    --main-color: #37958F;
    --scnd-color: #593FA4;
    --border-color: #D9D9D9;
    --text-1: #303030;
    --red: #D82727;
    --text-2: #747474;
}

html {
    overflow: hidden;
}


/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.button_menu {
    width: 1.5rem;
}

.button_menu .row{
    width: 100%;
    height: .2rem;
    background-color: #000;
    margin-bottom: .2rem;
    border-radius: 1rem;
}

.button_menu .row:nth-child(2) {
    width: 50%;
}

.logo {
    text-transform: uppercase;
    font-weight: 800;
}


/* MAIN */
.main {
    margin-top: 60px;
    width: 100vw;
}

/* FIRT SCREEN */
.firt_screen {
    padding: 10px;
    background-color: pink;
    overflow-y: scroll;
}

.card_reminder {
    width: 100%;
    background-color: #fff;
    border-radius: 15px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.card_reminder::before{
    position: absolute;
    left: 1rem;
    top: .5rem;
    content: '"';
    color: var(--scnd-color);
    font-size: 2.5rem;
}

.card_reminder .reminder_texts {
    padding: 20px;
}

.card_reminder .reminder_title {
    color: var(--main-color);
    font-size: 1.2rem;
    font-weight: 600;
}

.card_reminder .reminder_phrase{
    line-height: 1.2;
    font-weight: 400;
    font-size: 1.1rem;
    padding-top: .5rem;
}

.card_reminder .reminder_btns {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_reminder .reminder_btns button {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_reminder .reminder_btns .btn_like {
    background-color: var(--main-color);
}

.card_reminder .reminder_btns .btn_weak {
    background-color: var(--red);
}

