@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
    outline: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
:root {
    --main-color: #37958F;
    --scnd-color: #593FA4;
    --border-color: #D9D9D9;
    --text-1: #303030;
    --red: #D82727;
    --text-2: #747474;
}

html {
    overflow-y: hidden;
}

body {
    display: flex;
    justify-content: center;
}

.mobile_container {
    width: 428px;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.mobile_container::-webkit-scrollbar {
    background-color: transparent;
    width: .1rem; 
}
  
.mobile_container::-webkit-scrollbar-thumb {
    background-color: transparent;
}

/* HEADER */
.header {
    position: relative;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.button_menu {
    width: 1.5rem;
    cursor: pointer;
}

.button_menu .row{
    width: 100%;
    height: .2rem;
    background-color: #000;
    margin-bottom: .2rem;
    border-radius: 1rem;
    transition: all 300ms ease-in;
}
.button_menu .row:last-child {
    margin-bottom: 0;
}

.button_menu .row:nth-child(2) {
    width: 50%;
}

/* NAV SIDE */
.header .nav_side_container {
    position: absolute;
    width: 75%;
    top: 0;
    left: -100%;
    background-color: #fff;
    z-index: 20;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 300ms ease-out;
}

.header .nav_side_container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    width:0;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
}

.header .nav_side_container.active {
    left: 0;
}

.header .nav_side_container.active:after {
    width: 100%;
}

.header .nav_side_container .nav_header {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #D9D9D9;
    padding: 10px 15px;
}

.header .nav_side_container .nav_header button{
    background-color: transparent;
    font-size: 25px;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 50px;
}

.header .nav_side_container .navs_side {
    font-size: 19px;
    text-align: center;
}

.header .nav_side_container .navs_side li {
    padding: 20px 0;
    border-top: 1px solid #D9D9D9;
    font-weight: 600;
    cursor: pointer;
    transform: translateX(-50px);
    transition: 400ms linear;
}
.header .nav_side_container .navs_side li:last-child {
    border-bottom: 1px solid #D9D9D9;
}

.header .nav_side_container.active .navs_side li {
    transform: translateX(0);
}

.header .nav_side_container .nav_footer {
    width: 100%;
    border-top: 1px solid #D9D9D9;
    padding: 20px 30px;
    text-align: center;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    color: var(--text-2);
}

.header .nav_side_container .nav_footer:hover {
    color: var(--text-1);
}

.logo {
    font-weight: 800;
}

.header .logo .destaque {
    color: var(--main-color);
}

/* NAVS */
.navs {
    position: sticky;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    display: flex;
    height: 70px;
    border-top: 1px solid #8A8A8A;
}

.navs button {
    flex: 1;
    cursor: pointer;
}

.navs button:first-child span {
    font-size: 8px;
    color: var(--main-color);
    font-weight: 900;
}

.navs button span {
    display: block;
    line-height: 1;
    font-size: 12px;
    font-weight: 500;
    color: #8A8A8A;
}


/* SCREENS */
.screens {
    width: 100%;
    transition: all ease-in 1s;
}

/* FIRT SCREEN */
.first_screen {
    padding: 10px;
}

.card_reminder {
    width: 100%;
    background-color: #fff;
    border-radius: 15px;
    text-align: center;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.card_reminder::before{
    position: absolute;
    left: 1rem;
    top: .5rem;
    content: '"';
    color: var(--scnd-color);
    font-size: 2.5rem;
}

.card_reminder .reminder_texts {
    padding: 20px;
}

.card_reminder .reminder_title {
    color: var(--main-color);
    font-size: 1.2rem;
    font-weight: 600;
}

.card_reminder .reminder_phrase{
    line-height: 1.2;
    font-weight: 400;
    font-size: 1.1rem;
    padding-top: .5rem;
}

.card_reminder .reminder_btns {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_reminder .reminder_btns button {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms linear;
}

.card_reminder .reminder_btns .btn_like {
    background-color: var(--main-color);
}

.card_reminder .reminder_btns .btn_weak {
    background-color: var(--red);
}

/* ARTICLES */

.articles_container {
    width: 100%;
    margin-top: 30px;
}

.articles_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}

.articles_head .article_title {
    font-size: 20px;
}

.articles_head .article_more_button {
    background-color: transparent;
    cursor: pointer;
    font-size: 17px;
    padding: 5px;
}

.articles {
    display: flex;
    align-items: center;
    gap: 20px;
}

.article_card {
    position: relative;
    min-width: 70%;
    height: 163px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    background-color: var(--text-1);
}

.article_card .article_bg {
    width: 100%;
    height: 100%;
}

.article_card .article_description {
    position: absolute;
    bottom: 10px;
    left: 15px;
    font-size: 17px;
    color: #fff;
    line-height: 1.2;
    font-weight: 400;
}

/* BUTTON HELPS */
.button_helps {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
}
.button_helps button{
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    padding: 30px 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
.button_helps .button1 {
    background-color: var(--main-color);
}
.button_helps .button2 {
    background-color: #C8B616;
}
.button_helps .button3 {
    background-color: #593FA4;
}
.button_helps .button4 {
    background-color: #2A904D;
}


/* MEDIA QUERIES */

@media (min-width: 425px) {
    .mobile_container {
        box-shadow: 0 0 7px rgba(0, 0, 0, 7);
/*         border-radius: 20px; */
    }
}
